<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Predict Player Rating</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
		<caption><h3>Please enter scores below for prediction: </h3></caption>
    	<input type="text" name="potential" placeholder="Potential" required="required" />
        <input type="text" name="value_eur" placeholder="Value in euros" required="required" />
		<input type="text" name="wage_eur" placeholder="Wage in euros" required="required" />
    <input type="text" name="age" placeholder="Age" required="required" />
		<input type="text" name="height_cm" placeholder="Height in cm" required="required" />
		<input type="text" name="weight_kg" placeholder="Weightin kg" required="required" />
		<input type="text" name="pace" placeholder="Pace" required="required" /><br><br>
		<input type="text" name="shooting" placeholder="Shooting" required="required" />
		<input type="text" name="passing" placeholder="Passing" required="required" />
		<input type="text" name="dribbling" placeholder="Dribbling" required="required" />
		<input type="text" name="defending" placeholder="defending" required="required" />
		<input type="text" name="physic" placeholder="Physic" required="required" />
		<input type="text" name="attacking_crossing" placeholder="Attacking crossing" required="required" />
		<input type="text" name="attacking_finishing" placeholder="Attacking finishing" required="required" /><br><br>
		<input type="text" name="attacking_heading_accuracy" placeholder="Attacking heading accuracy" required="required" />
		<input type="text" name="attacking_short_passing" placeholder="Attacking short passing" required="required" />
		<input type="text" name="attacking_volleys" placeholder="Attacking volleys" required="required" />
		<input type="text" name="skill_dribbling" placeholder="Skill dribbling" required="required" />
		<input type="text" name="skill_curve" placeholder="Skill curve" required="required" />
		<input type="text" name="skill_fk_accuracy" placeholder="Skill accuracy" required="required" />
		<input type="text" name="skill_long_passing" placeholder="Skill long passing" required="required" /><br><br>
    	<input type="text" name="skill_ball_control" placeholder="Skill ball control" required="required" />
		<input type="text" name="movement_acceleration" placeholder="Movement acceleration" required="required" />
		<input type="text" name="movement_sprint_speed" placeholder="Movement sprint speed" required="required" />
		<input type="text" name="movement_agility" placeholder="Movement agility" required="required" />
		<input type="text" name="movement_reactions" placeholder="Movement reactions" required="required" />
		<input type="text" name="movement_balance" placeholder="Movement balance" required="required" />
		<input type="text" name="power_shot_power" placeholder="Power shot power" required="required" /><br><br>
		<input type="text" name="power_jumping" placeholder="Power jumping" required="required" />
		<input type="text" name="power_stamina" placeholder="Power stamina" required="required" />
		<input type="text" name="power_strength" placeholder="Power strength" required="required" />
		<input type="text" name="power_long_shots" placeholder="Power long shots" required="required" />
   	 	<input type="text" name="mentality_aggression" placeholder="Mentality aggression" required="required" />
		<input type="text" name="mentality_interceptions" placeholder="Mentality interceptions" required="required" />
		<input type="text" name="mentality_positioning" placeholder="Mentality positioning" required="required" /><br><br>
		<input type="text" name="mentality_vision" placeholder="Mentality vision" required="required" />
		<input type="text" name="mentality_penalties" placeholder="Mentality penalties" required="required" />
		<input type="text" name="mentality_composure" placeholder="Mentality composure" required="required" />
		<input type="text" name="defending_marking_awareness" placeholder="Defending marking awareness" required="required" />
		<input type="text" name="defending_standing_tackle" placeholder="Defending standing tackle" required="required" />
		<input type="text" name="defending_sliding_tackle" placeholder="Defending sliding tackle" required="required" />
		<input type="text" name="goalkeeping_diving" placeholder="Goalkeeping diving" required="required" /><br><br>
		<input type="text" name="goalkeeping_handling" placeholder="Goalkeeping handling" required="required" />
		<input type="text" name="goalkeeping_kicking" placeholder="Goalkeeping kicking" required="required" />
		<input type="text" name="goalkeeping_positioning" placeholder="Goalkeeping positioning" required="required" />
		<input type="text" name="goalkeeping_reflexes" placeholder="Goalkeeping reflexes" required="required" /><br><br>
		<!-- <input type="text" name="power_long_shots" placeholder="power_long_shots" required="required" /> -->




        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
